/* font-family: 'Cabin', sans-serif;
font-family: 'Montserrat', sans-serif; */
.contenedor{
  background-color: #EEEFDD;
}
.info-gen{
  padding: 50px;
  border-right: 2px solid #ABA9A9;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: bold;
}
h3,h4,h5,p,li{
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  margin: 0;
}
ul{
  list-style:none;
}
.icono{
  width: 13px;
  height: auto;
  margin:5px 10px;
}
.icono-cel{
  width: 10px;
  height: auto;
  margin:5px 10px;
}
.info-gen li{
  font-size: 11px;
}
.info-gen ul, .info ul{
 padding: 10px;
}
.info-gen button{
  font-size: 11px;
  color: #4F424B;
}
.card-mostrar{
  background:#EEEFDD;
}
.profile{
text-align: center;
}
.profile img{
  width: 150px;
margin-bottom: 20px;
}
.contact{
margin-top: 30px;
}
.menu-info button{
  font-size: 10px;
}
.info{
  padding: 50px;
}
button{
  font-size: 20px;
  border: none;
  color:#F28E2A;
  background-color: transparent;
}
.info-place{
  margin-top: 20px;
}
#map{
  width: 280px;
}
.conteiner-agentes h3{
  text-align: center;
  font-size: 20px;
  font-family: 'Cabin', sans-serif;
}
.conteiner-agentes {
  padding-bottom: 50px;
}
.carousel-people{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  text-align: center;
  padding-right: 50px;
}
.carousel-people img{
  width: 80%;
  margin: 15px;
}
.arrow{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 50px;
}
.carousel-movil{
  display: none;
}
@media (max-width: 768px){
  .info-gen{
    margin: 0;
    padding-left: 150px;
  }
  .menu-info button{
    font-size: 14px;
  }
  .info{
    margin:0;
    padding-left: 150px;
    padding-right: 80px;
  }
  .carousel-people{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding-right: 0px;
  }
}
@media (min-width: 320px) and (max-width: 480px){
  .info-gen{
    border-right: none;
    margin: 0;
    padding: 70px;
  }
  .info{
    margin: 0;
    padding: 60px;
  }
  #map{
    width: 250px;
  }
  .conteiner-agentes{
    display: none;
  }
  .carousel-movil{
   display: contents;
  }
  .container-carousel{
    padding: 35px;
  }

  #carouselExampleControls{
    width: 350px;
  }

  .carousel-inner{
    width: 200px;
  }
}
