<div class="container col-xl-12">
    <div class="row">
        <div class="col-xl-4">
            <div class="text-center userAddImg">
                <img src="../../../assets/img/perfil.png" alt="user profile" class="rounded-circle userImg">
                <button type="button" class="btn btn-warning btn-circle btn-lg"><i class="fas fa-plus"></i>
                </button>
                <h2 class="title">Claudia Rosas Martinez</h2>
                <h3 class="userSubtitle">Fotógrafa</h3>
            </div>
            <div class="userSocial">
                <h3 class="subtitle">Contacto</h3>
                <p class="socialMedia textAll"><span><i class="fas fa-fw fa-envelope"></i></span> rosas_clau@gmail.com</p>
                <p class="socialMedia textAll"><span><i class="fas fa-fw fa-mobile-alt"></i></span> 55 8392 6709</p>
                <p class="socialMedia textAll"><span><i class="fas fa-fw fa-phone-alt"></i></span> 5798 6543</p>
                <p class="socialMedia textAll"><span><i class="fab fa-fw fa-facebook-square"></i></span> Claudia Rosas Martinez</p>
                <p class="socialMedia textAll"><span><i class="fab fa-fw fa-instagram-square"></i></span> clau.fotografia</p>
                <p class="socialMedia textAll"><span><i class="fab fa-fw fa-twitter-square"></i></span> claudia_foto</p>
                <p class="socialMedia textAll"><span><i class="fab fa-fw fa-linkedin"></i></span> claudia-rosas-m</p>
                <p class="socialMedia textAll"><span><i class="fab fa-fw fa-youtube"></i></span> Naturaleza Maravillosa</p>
            </div>
            <nav class="subMenu">
                <div class="nav nav-tabs tabTitle" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Especialidad</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Técnicas</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Población</a>
                </div>
            </nav>
            <div class="tab-content contentTab" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">Fotografía análoga</div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">Blanco y negro</div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">Todos</div>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="row">
                <div class="col-xl-6">
                    <div class="userInfo">
                        <h3 class="subtitle">Folio</h3>
                        <p class="textAll">11475</p>
                        <h3 class="subtitle">CURP</h3>
                        <p class="textAll">ROMC910623MDFRLB11</p>
                        <h3 class="subtitle">Fecha de nacimiento</h3>
                        <p class="textAll">1991-06-23</p>
                        <h3 class="subtitle">Lugar de nacimiento</h3>
                        <p class="textAll">Milpa Alta</p>
                        <h3 class="subtitle">Género</h3>
                        <p class="textAll">Mujer</p>
                        <h3 class="subtitle">Experiencia</h3>
                        <p class="textAll">8 años</p>
                    </div>
                </div>
                <div class="col-xl-6">
                    <h3 class="subtitle">Acerca de mi trabajo</h3>
                    <p class="textAll">Tomo fotografía de paisaje, me gusta utilizar cámaras análogas. He viajado a diferentes regiones de México en busca de los mejores paisajes.</p>
                    <h3 class="subtitle">Lugar de residencia.</h3>
                    <p class="textAll">Coyoacán, CDMX</p>
                    <img src="../../../assets/img/mapa.png" alt="mapa" class="img-fluid mapImg">
                </div>

            </div>
            <div class="row users">
                <div class="col-xl-12">
                    <h3 class="subtitle">Red de agentes</h3>
                </div>
                <div class="col-xl-12 row agentsNetwork text-center">
                    <div class="agentLabel">
                        <img src="../../../assets/img/people1.png" alt="agent" class="rounded-circle agent" id="user1">
                        <label for="user1" class="userLabelTitle">Ximena Flores</label> <br>
                        <label for="user1" class="userLabelJob">Actriz de teatro</label>
                    </div>

                    <div class="agentLabel">
                        <img src="../../../assets/img/people2.png" alt="agent" class="rounded-circle agent" id="user2">
                        <label for="user2" class="userLabelTitle">Adrián Jiménez</label> <br>
                        <label for="user2" class="userLabelJob">Artista plástico</label>
                    </div>

                    <div class="agentLabel">
                        <img src="../../../assets/img/people3.png" alt="agent" class="rounded-circle agent" id="user3">
                        <label for="user3" class="userLabelTitle">Citlali Hernández</label> <br>
                        <label for="user3" class="userLabelJob">Artista textil</label>
                    </div>

                    <div class="agentLabel">
                        <img src="../../../assets/img/people4.png" alt="agent" class="rounded-circle agent" id="user4">
                        <label for="user4" class="userLabelTitle">Juan Pérez</label> <br>
                        <label for="user4" class="userLabelJob">Artesano</label>
                    </div>

                    <div class="moreLink">
                        <a href="#" class="linkMore">Ver todos</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>