.col-xl-4,
.col-xl-6,
.users {
    padding: 1rem;
    background: #EEEFDD;
    height: auto;
}

.userImg {
    width: 50%;
}

.btn-circle.btn-lg {
    width: 3.125rem;
    height: 3.125rem;
    padding: 0.5rem 0.625rem;
    line-height: 1.33;
    border-radius: 1.563rem;
    background: #F28E2A !important;
    border-color: #F28E2A !important;
    margin-top: 9.375rem;
    margin-left: -3.75rem;
}

.fa-plus {
    color: white;
    font-size: 2rem;
}

.mapImg {
    width: 100%;
}

.userSocial,
.userInfo,
.subMenu,
.contentTab {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.socialMedia {
    margin-left: 1rem;
    margin-bottom: 0;
    font-size: 1rem;
}

.subtitle {
    font-weight: lighter;
    font-family: 'Cabin', sans-serif;
    font-size: 1.1rem;
}

.title {
    font-family: 'Montserrat';
    font-size: 1.3rem;
    font-weight: bold;
}

.userSubtitle {
    font-family: 'Montserrat';
    font-size: 1.2rem;
}

.subMenu {
    margin-top: 4rem;
}

.userAddImg {
    margin-bottom: 3rem;
}

.agent {
    margin: 1rem;
    width: 80%;
}

.contentTab,
.tabTitle {
    font-family: 'Cabin', sans-serif;
    font-size: 0.8rem;
    margin-top: 1rem;
}

.textAll {
    font-family: 'Cabin', sans-serif;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #495057;
    background-color: transparent;
    border-color: transparent transparent #F28E2A;
}

a {
    color: black;
}

.agentLabel,
.buttonMore {
    margin-left: 1rem;
    width: 20%;
}

.userLabelTitle,
.userLabelJob {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-size: 0.8rem;
}

.userLabelTitle {
    font-weight: bold;
}

.moreLink {
    margin: auto;
}

.linkMore {
    color: #F28E2A;
    font-family: 'Cabin', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}